<div class="operate-box">
    <div class="operate-left-box">
        <nz-month-picker #input style="width: 100%" [(ngModel)]="date" (ngModelChange)="onChange($event)"
            [nzFormat]="'YYYY/MM'" name="date" nzSize="default"></nz-month-picker>
    </div>
    <div class="operate-right-box">

    </div>
</div>
<div class="content-box">
    <nz-table [acl]="938" [nzData]="data" [nzTotal]="totalCount" [(nzPageIndex)]="dto.page" [(nzPageSize)]="dto.size"
        (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData(true)" [nzFrontPagination]="false"
        [nzLoading]="isSpinning" nzShowQuickJumper nzShowSizeChanger nzShowTotal>
        <thead>
            <tr>
                <th>序号</th>
                <th>日期</th>
                <th>产品名称</th>
                <th>单位</th>
                <th>规格</th>
                <th>材质</th>
                <th>总数量</th>
                <th>入库数量</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="data">
                <tr *ngFor="let item of data;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.recordDate | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ item.productName }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.specification }}</td>
                    <td>{{ item.material }}</td>
                    <td>{{ item.totalQuantity }}</td>
                    <td>{{ item.goStorageNumber }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
    <a *ngIf="data.length>0" (click)="monthExportExcel()" class="export-style">月度汇总下载</a>
</div>


<style scoped>
    .export-style {
        display: inline-block;
        margin: 20px 0 20px 20px;
        font-size: 16px;
    }

</style>
