<div *ngIf="!_area.areaName || _area.areaName === '辅材清单'">
    <div class="operate-box">
        <div class="operate-left-box">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton" style="margin-right: 10px">
                <input type="text" [(ngModel)]="dto.name" nz-input placeholder="构件编号"
                    (keyup)="($event.which === 13)?search():0" />
            </nz-input-group>
            <ng-template #suffixButton>
                <span style="cursor: pointer" (click)="search()">搜索</span>
            </ng-template>
        </div>
        <div class="operate-right-box">
            <nz-upload style="display: inline;margin-left: 10px;" [acl]="954" [nzData]="{
            monomerId: monomerId,
            type: '1'
        }" [nzHeaders]="headers" nzAction="/api/auxiliaries/materials/actions/import"
                (nzChange)="uploadComponentChange($event, componentList)">
                <button nz-button nzType="warning" nzSize="default">
                    <i class="anticon anticon-upload"></i><span>清单导入</span>
                </button>
            </nz-upload>

            <nz-upload style="margin-left: 10px;float: right;margin-right: 30px" [acl]="954" [nzData]="{
            monomerId: monomerId,
            type: '2'
        }" [nzHeaders]="headers" nzAction="/api/auxiliaries/materials/actions/import"
                (nzChange)="uploadComponentChange($event, componentList)">
                <button nz-button nzType="warning" nzSize="default">
                    <i class="anticon anticon-upload"></i><span>变更修改添加</span>
                </button>
            </nz-upload>

            <button nz-button nzSize="default" (click)="beforeClear()" nzType="danger"
                style="float: right;margin-right: 100px">一键清空</button>
            <ng-content></ng-content>
        </div>
    </div>
    <nz-table [acl]="930" [nzData]="data.data" [(nzPageIndex)]="dto.page" [(nzPageSize)]="dto.size"
        [nzTotal]="data.totalCount" (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData()"
        [nzFrontPagination]="false" [nzLoading]="isSpinning" nzShowTotal nzShowQuickJumper nzShowSizeChanger>
        <thead>
            <tr>
                <!-- <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th> -->
                <th>序号</th>
                <th>产品名称</th>
                <th>单位</th>
                <th>规格</th>
                <th>材质</th>
                <th>数量</th>
                <!-- <th>状态</th> -->
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.data;let i = index">
                <!-- <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshStatus($event)"></td> -->
                <td class="tip-parent">
                    <div *ngIf="item.status > 1" class="td-tip"
                        [ngStyle]="{'background-color': ComponentColors[item.status-1]}">
                        {{ ProductStatus[item.status] }}</div>
                    {{ (dto.page - 1) * dto.size + i + 1 }}
                </td>
                <td class="tip-parent">
                    <div *ngIf="item.stockType !== undefined" class="td-tip"
                        [ngStyle]="{'background-color': item.stockType === '采' ? 'green':'orange'}">
                        {{ item.stockType }}</div>
                    {{ item.name }}
                </td>
                <td>{{ item.unit }}</td>
                <td>{{ item.specification }}</td>
                <td>{{ item.material }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{item.tip}}</td>
                <td>
                    <ng-container *ngIf="item.status !== 5">
                        <button nz-button nzType="primary"
                            *ngIf="item.status === 1 || item.status === 0 || item.status === 3 || item.status == 4"
                            (click)="updateProductStatus(item, 2)">暂停</button>
                        <button nz-button nzType="primary" *ngIf="item.status === 2"
                            (click)="updateProductStatus(item, 1)">开始</button>
                        <button nz-button nzType="default" style="margin-left: 5px"
                            (click)="openEditForm(item)">修改</button>

                        <nz-popconfirm [nzTitle]="'确定要删除这个清单吗？'" (nzOnConfirm)="removeProducts(item)">
                            <button nz-popconfirm nz-button nzType="danger" style="margin-left: 5px">删除</button>
                        </nz-popconfirm>
                    </ng-container>
                </td>

                <!-- <td>
          <button nz-button nzType="primary" *ngIf="item.status === 1 || item.status === 0" (click)="updateProductStatus(item, 2)">暂停</button>
          <button nz-button nzType="primary" *ngIf="item.status === 2" (click)="updateProductStatus(item, 1)">开始</button>
          <button nz-button nzType="default" style="margin-left: 5px"  (click)="openEditForm(item)">修改</button>
          <nz-popconfirm [nzTitle]="'确定要删除这个清单吗？'" (nzOnConfirm)="removeProducts(item)">
            <button nz-popconfirm  nz-button nzType="danger"  style="margin-left: 5px">删除</button>
          </nz-popconfirm>
      </td> -->
            </tr>
            <!-- <tr [acl]="1233">
      <td>合计</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ totalCount }}</td>
  </tr> -->
        </tbody>
    </nz-table>

    <nz-modal [(nzVisible)]="isClearVisible" nzTitle="编辑" [nzContent]="clearContent" (nzOnCancel)="onCancel()"
        (nzOnOk)="onClear()">
        <ng-template #clearContent>
            <form nz-form [formGroup]="productForm">
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="name">执行原因描述</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="name" [id]="'areaName'">
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-template>
    </nz-modal>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="编辑" [nzContent]="modalContent" (nzOnCancel)="cancel()"
        (nzOnOk)="submit()">
        <ng-template #modalContent>
            <form nz-form [formGroup]="productForm">
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="name">构件名称</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="name" [id]="'areaName'">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="unit">单位</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="unit" [id]="'unit'">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="specification">规格</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="specification" [id]="'specification'">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="material">材质</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="material" [id]="'material'">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <nz-form-label for="quantity">数量</nz-form-label>
                    </nz-form-label>
                    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <input nz-input [nzSize]="'default'" formControlName="quantity" [id]="'quantity'">
                    </nz-form-control>
                </nz-form-item>

            </form>
        </ng-template>
    </nz-modal>
</div>
<div *ngIf="_area.areaName==='删除记录' || _area.areaName==='修改记录'">
    <nz-table [acl]="1076" [nzData]="data.data" [(nzPageIndex)]="dtoRecord.page" [(nzPageSize)]="dtoRecord.size"
        [nzTotal]="data.totalCount" (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData()"
        [nzFrontPagination]="false" [nzLoading]="isSpinning" nzShowTotal nzShowQuickJumper nzShowSizeChanger>
        <thead>
            <tr>
                <th>日期</th>
                <th>产品名称</th>
                <th>单位</th>
                <th>规格</th>
                <th>材质</th>
                <th>数量</th>
                <th>原因描述</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.data;let i = index">
                <td>{{ item.createTime | date: 'yyyy-MM-dd'}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.specification }}</td>
                <td>{{ item.material }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.causeDescription }}</td>
            </tr>
        </tbody>
    </nz-table>
    <a *ngIf="data.data.length>0" (click)="recordDownExcel()" class="export-style">下载</a>
</div>

<style scoped>
    .span-style {
        width: 70px;
        display: inline-block;
        text-align: center;
        padding: 2px 10px;
        background: #fff;
        margin-left: 10px;
    }

    .ant-table-tbody>tr>td {
        padding: 8px;
        /* font-weight: 600; */
    }

</style>
