<nz-table
    [nzData]="data.data"
    [(nzPageIndex)]="dto.page"
    [(nzPageSize)]="dto.size"
    [nzTotal]="data.totalCount"
    (nzPageIndexChange)="getData()"
    (nzPageSizeChange)="getData()"
    [nzFrontPagination]="false"
    [nzLoading]="isSpinning"
    nzShowTotal
    nzShowQuickJumper
    nzShowSizeChanger>
    <thead>
        <tr>
           
            <th>序号</th>
            <th>打印人员</th>
            <th>打印时间</th>
            <th>打印数量</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data.data;let i = index">
            
            <td>{{ i + 1 }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.createTime }}</td>
            <td>{{ item.quantity }}</td>
           
        </tr>
    </tbody>
