
<div class="operate-box">
    <div>
    </div>
    <div>
        <app-tag [options]="options" ></app-tag>
    </div>
</div>
<nz-card>
    <div class="vertical-tabs" >
        <div class="vertical-tabs__header">
            <div class="vertical-tab" (click)="active = 1" [ngClass]="{'is-active': active === 1}">结构</div>
            <!--<div class="vertical-tab" (click)="active = 2" [ngClass]="{'is-active': active === 2}">围护</div>-->
            <!--<div class="vertical-tab" (click)="active = 3" [ngClass]="{'is-active': active === 3}">辅材</div>-->
        </div>
        <div class="vertical-tabs__content"  *ngIf="active === 1">
            <nz-tabset>
                <nz-tab nzTitle="{{ area.areaName + '(' + area.coordinates + ')' }}"
                *ngFor="let area of currentMonomer.areas" (nzClick)="currentArea = area">
            </nz-tab>
        </nz-tabset>
            <app-finished-panel-board 
                [productType]="1"
                [monomerId]="currentArea.id"></app-finished-panel-board>
        </div>
        <!--<div class="vertical-tabs__content"  *ngIf="active === 2">
            <app-finished-panel-board [monomerId]="currentMonomer.monomer.id" [productType]="2"></app-finished-panel-board>
        </div>-->
        <!--<div class="vertical-tabs__content"  *ngIf="active === 3">
            <app-finished-panel-board [monomerId]="currentMonomer.monomer.id" [productType]="3"></app-finished-panel-board>
        </div>-->
    </div>
    
</nz-card>
