<button nz-button [nzType]="'primary'" style="margin-bottom: 15px" (click)="isVisible = true">
    <span>新增</span>
</button>

<nz-card nzTitle="生产线详情" [nzBordered]="false" [acl]="1049">
    <div class="text-lg my-md fontStyle" style="margin: 20px 0 5px 0">总装</div>
    <nz-table
        #editRowTable
        [nzData]="totalTada"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th><span>创建时间</span></th>
                <th><span>用户名称</span></th>
                <th>扫码人</th>
                <th><span>操作</span></th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of totalTada;let i = index;">
                <td>{{ item.createTime | date: 'yyyy-MM-dd' }} </td>
                <td>{{ item.userName }}</td>
                <td>
                    <nz-select *ngFor="let ii of arr(item.qrPeopleList.length);let j = index"
                        style="width: 120px;margin-right: 10px"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="选择扫码人"
                        [(ngModel)]="item.qrPeopleList[j].confirmUserId"
                        (ngModelChange)="qrChange(item, j)"
                    >
                        <nz-option
                            nzLabel="不指定"
                            nzValue="-1"
                            >
                        </nz-option>
                        <nz-option
                            *ngFor="let option of userList"
                            [nzLabel]="option.name"
                            [nzValue]="option.id"
                            >
                        </nz-option>
                    </nz-select>
                </td>
                <td>  
                    <span>
                        <nz-popconfirm [nzTitle]="'确定要删除这条记录吗？'" (nzOnConfirm)="confirmDelete(item.id)">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                    </span>&nbsp;
                    <!-- <span> <a (click)="addUser(item,0)">新增</a> </span> -->
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="text-lg my-md fontStyle">总装检验</div>
    <nz-table
        #editRowTable
        [nzData]="totalJian"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th><span>创建时间</span></th>
                <th><span>用户名称</span></th>
                <th><span>操作</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of totalJian;let i = index;">
                <td>{{ item.createTime | date: 'yyyy-MM-dd' }} </td>
                <td>{{ item.userName }}</td>
                <td>  
                    <span>
                        <nz-popconfirm [nzTitle]="'确定要删除这条记录吗？'" (nzOnConfirm)="confirmDelete(item.id)">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                    </span>&nbsp;
                    <!-- <span> <a (click)="addUser(item,1)">新增</a> </span> -->
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="text-lg my-md fontStyle">涂装</div>
    <nz-table
        #editRowTable
        [nzData]="tuData"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th><span>创建时间</span></th>
                <th><span>用户名称</span></th>
                <th><span>操作</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tuData;let i = index;">
                <td>{{ item.createTime | date: 'yyyy-MM-dd' }} </td>
                <td>{{ item.userName }}</td>
                <td>  
                    <span>
                        <nz-popconfirm [nzTitle]="'确定要删除这条记录吗？'" (nzOnConfirm)="confirmDelete(item.id)">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                    </span>&nbsp;
                    <!-- <span> <a (click)="addUser(item,2)">新增</a> </span> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
    
    <div class="text-lg my-md fontStyle">涂装检验</div>
    <nz-table
        #editRowTable
        [nzData]="tuJiData"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th><span>创建时间</span></th>
                <th><span>用户名称</span></th>
                <th><span>操作</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tuJiData;let i = index;">
                <td>{{ item.createTime | date: 'yyyy-MM-dd' }} </td>
                <td>{{ item.userName }}</td>
                <td>  
                    <span>
                        <nz-popconfirm [nzTitle]="'确定要删除这条记录吗？'" (nzOnConfirm)="confirmDelete(item.id)">
                            <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                    </span>&nbsp;
                    <!-- <span> <a (click)="addUser(item,3)">新增</a> </span> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'新增'"  
[nzContent]="modalContent" 
[nzFooter]="true" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()">
    <ng-template #modalContent>
        <form nz-form 
        [formGroup]="validateForm">
            <nz-form-item nz-row>
                <nz-form-label for="userId" nzRequired nz-col [nzSm]="6" [nzXs]="24">
                    用户
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-select style="width: 200px;" 
                    [nzPlaceHolder]="'请选择用户'" 
                    id="userId"
                    formControlName="userId"
                    [(ngModel)]="addMemberForm.userId"
                    nzAllowClear>
                        <nz-option
                            *ngFor="let option of userList"
                            [nzLabel]="option.name"
                            [nzValue]="option.id"
                            >
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="validateForm.get('userId').dirty && validateForm.get('userId').errors">请选择用户</nz-form-explain>
                </nz-form-control>
            </nz-form-item>            
           
            <nz-form-item nz-row>
                <nz-form-label nz-col for="styleId" [nzSm]="6" [nzXs]="24" nzRequired>类型</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-select style="width: 200px;" 
                    [nzPlaceHolder]="'请选择类型'"
                    id="styleId"
                    formControlName="styleId" 
                    [(ngModel)]="addMemberForm.styleId"
                    nzAllowClear>
                        <nz-option
                            *ngFor="let option of styleList"
                            [nzLabel]="option.name"
                            [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="validateForm.get('styleId').dirty && validateForm.get('styleId').errors">请选择类型</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
</nz-modal>
<style scoped>
.fontStyle {
    font-weight: 700;
    margin: 50px 0 5px 0 !important;
}
</style>