<nz-table #detailTable [nzData]="data.data" [(nzPageIndex)]="listQuery.page" [(nzPageSize)]="listQuery.size"
    [nzTotal]="data.totalCount" (nzPageIndexChange)="getDetail()" (nzPageSizeChange)="getDetail()"
    [nzFrontPagination]="false" [nzLoading]="listQuery.loading" nzShowTotal nzShowQuickJumper nzShowSizeChanger>
    <thead>
        <tr>
            <th>序号</th>
            <th>产品名称</th>
            <th>颜色</th>
            <th>厚度(mm)</th>
            <th>板型</th>
            <th>长度(mm)</th>
            <th>数量(张)</th>
            <th>总长度(m)</th>
            <th>总面积(㎡)</th>
            <th>使用部位</th>
            <th>安装数量(张)</th>
            <th>安装面积(㎡)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of detailTable.data;let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.thickness }}</td>
            <td>{{ item.modelNum }}</td>
            <td>{{ item.length }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalMeter }}</td>
            <td>{{ item.surfaceArea }}</td>
            <td>{{ item.useArea }}</td>
            <td>{{ item.setupQuantity }}</td>
            <td>{{ item.setupSurfaceArea }}</td>
        </tr>
    </tbody>
</nz-table>
