<app-project-pro-header
    [projectId]="projectId">
    
</app-project-pro-header>

<nz-card *ngIf="WarehouseType[warehouseType] === '出库'">
    <ng-template #title>
        {{WarehouseType[warehouseType]}}详情
    </ng-template>
    <app-history-outbound-list [projectId]="projectId" [date]="date"></app-history-outbound-list>
</nz-card>



<nz-card *ngIf="WarehouseType[warehouseType] === '入库'">
    <ng-template #title>
        {{WarehouseType[warehouseType]}}详情
    </ng-template>
    <div class="vertical-tabs" >
        <div class="vertical-tabs__header">
            <div class="vertical-tab" (click)="active = 1" [ngClass]="{'is-active': active === 1}">结构</div>
            <!--<div class="vertical-tab" (click)="active = 2" [ngClass]="{'is-active': active === 2}">围护</div>-->
            <!--<div class="vertical-tab" (click)="active = 3" [ngClass]="{'is-active': active === 3}">辅材</div>-->
        </div>
        <div class="vertical-tabs__content"  *ngIf="active === 1">
            <app-inbound-detail-table [monomerId]="monomerId" [date]="date"></app-inbound-detail-table>
        </div>
        <!--<div class="vertical-tabs__content"  *ngIf="active === 2">
            <app-inbound-detail-table [monomerId]="monomerId" [date]="date" [productType]="2"></app-inbound-detail-table>
        </div>-->
        <!--<div class="vertical-tabs__content"  *ngIf="active === 3">
            <app-inbound-detail-table [monomerId]="monomerId" [date]="date" [productType]="3"></app-inbound-detail-table>
        </div>-->
    </div>
</nz-card>