<form #form="ngForm" nz-form>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="name" nzRequired>姓名</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input
                name="name"
                [(ngModel)]="dto.name"
                [nzSize]="'default'"
                required>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="phone" nzRequired>手机</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input
                name="phone"
                [(ngModel)]="dto.phone"
                [nzSize]="'default'"
                required>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="email">邮箱</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input
                name="email"
                [(ngModel)]="dto.email"
                [nzSize]="'default'">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="password" nzRequired>密码</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input
                name="password"
                [(ngModel)]="dto.password"
                [type]="isShowPwd ? 'text': 'password'"
                [nzSize]="'default'"
                required>
            
            <!-- <span>111</span> -->
            <!-- <i class=""></i> -->
            <i class="anticon anticon-eye" style="position: absolute; right: -20px;top: 10px" (click)="showPwd()"></i>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="roles" nzRequired>角色</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-select
                name="roles"
                placeholder="请选择"
                [(ngModel)]="dto.roleId"
                nzSize="default"
                required>
                <nz-option
                    *ngFor="let role of roles"
                    [nzLabel]="role.name"
                    [nzValue]="role.id">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="roles" nzRequired>部门</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-select
                name="departmentId"
                placeholder="请选择"
                [(ngModel)]="dto.departmentId"
                nzSize="default"
                required>
                <nz-option
                    *ngFor="let o of departments"
                    [nzLabel]="o.name"
                    [nzValue]="o.id">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div class="customize-footer">
        <button [disabled]="form.form.invalid" (click)="ok()" nz-button [nzType]="'primary'" [nzLoading]="submitting">
            确定
        </button>
        <button nz-button [nzType]="'default'" (click)="cancel()">
            取消
        </button>
    </div>
</form>
