<form #form="ngForm" nz-form>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="date">日期</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            {{ date | date: 'yyyy-MM-dd' }}
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="SecurityLogSituations" nzRequired>安全情况</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-select
                name="SecurityLogSituations"
                placeholder="请选择"
                [(ngModel)]="dto.situation"
                nzSize="default"
                required>
                <nz-option
                    *ngFor="let o of securityLogSituations | enumToArray"
                    [nzLabel]="o.label"
                    [nzValue]="o.value">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="content" nzRequired>内容</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <textarea nz-input
                row="3"
                name="content"
                [(ngModel)]="dto.content"
                nzSize="default"></textarea>
        </nz-form-control>
    </nz-form-item>
    <div class="customize-footer">
        <button [disabled]="form.form.invalid" (click)="ok()" nz-button [nzType]="'primary'" [nzLoading]="submitting">
            确定
        </button>
        <button nz-button [nzType]="'default'" (click)="cancel()">
            取消
        </button>
    </div>
</form>
