<nz-table
#nzTable
[nzData]="cargoListDetail.data"
[nzShowPagination]="false"
[nzScroll]="{ y: '600px' }"
[nzLoading]="isSpinning"
nzShowTotal>
<thead>
    <tr>
        <th nzWidth="150px">序号</th>
        <th nzWidth="150px">产品名称</th>
        <th nzWidth="150px">颜色</th>
        <th nzWidth="150px">厚度(mm)</th>
        <th nzWidth="150px">板型</th>
        <th nzWidth="150px">长度(mm)</th>
        <th nzWidth="150px">数量(张)</th>
        <th nzWidth="150px">总长度(m)</th>
        <th nzWidth="150px">总面积(㎡)</th>
        <th nzWidth="150px">入库数量(张)</th>
        <th nzWidth="150px">入库长度(mm)</th>
        <th nzWidth="150px">入库面积(㎡)</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of cargoListDetail.data;let i = index;">
        <td>{{ i + 1 }}</td>
        <td>{{ item.productInfo.name }}</td>
        <td>{{ item.productInfo.color }}</td>
        <td>{{ item.productInfo.thickness }}</td>
        <td>{{ item.productInfo.modelNum }}</td>
        <td>{{ item.productInfo.length }}</td>
        <td>{{ item.productInfo.totalQuantity }}</td>
        <td>{{ item.productInfo.totalMeter }}</td>
        <td>{{ item.productInfo.surfaceArea }}</td>
        <td>{{ item.stockQuantity }}</td>
        <td>{{ item.stockLength }}</td>
        <td>{{ item.stockArea }}</td>
    </tr>
</tbody>
</nz-table>
