<nz-card>
    <nz-tabset style="min-height: 600px;margin-right:20px" [nzShowPagination]="false" [nzTabPosition]="'left'"
        [(nzSelectedIndex)]="leftSelectedIndex">
        <nz-tab *ngFor="let tab of leftTabs" [nzTitle]="tab.name">
            <ng-container *ngIf="tab.value === 'structure' && tab.index == leftSelectedIndex && areas">
                <nz-tabset>
                    <nz-tab nzTitle="{{ area.areaName + '(' + area.coordinates + ')' }}" *ngFor="let area of areas"
                        (nzClick)="currentArea = area">
                    </nz-tab>
                </nz-tabset>
                <app-board *ngIf="currentArea" [monomerId]="currentArea.id" [productType]="1" [warehouseType]="0"></app-board>
            </ng-container>
            <ng-container *ngIf="tab.value === 'enclosure' && tab.index == leftSelectedIndex && currentMonomer">
                <app-encl-board [monomerId]="currentMonomer.id" [productType]="2" [warehouseType]="0"></app-encl-board>
            </ng-container>
            <ng-container *ngIf="tab.value === 'material' && tab.index == leftSelectedIndex  && currentMonomer">
                <app-mat-board [monomerId]="currentMonomer.id" [productType]="3" [warehouseType]="0"></app-mat-board>
            </ng-container>
        </nz-tab>
    </nz-tabset>
</nz-card>
