<div class="operate-box">
    <div class="operate-left-box">
        <nz-month-picker #input style="width: 100%" [(ngModel)]="date" (ngModelChange)="onDateChange($event)"
            [nzFormat]="'YYYY/MM'" name="date" nzSize="default"></nz-month-picker>
            <div>
                <nz-radio-group [(ngModel)]="listQuery.type" (ngModelChange)="onTypeChange($event)" style="width: 240px">
                    <label nz-radio-button [nzValue]="">全部</label>
                    <label nz-radio-button [nzValue]="1">结构</label>
                    <label nz-radio-button [nzValue]="2">围护</label>
                    <label nz-radio-button [nzValue]="3">辅材</label>
                </nz-radio-group>
            </div>
            <div>
                <ng-container *ngIf="listQuery.type">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton" style="width: 300px">
                        <input type="text" [(ngModel)]="listQuery.productName" nz-input placeholder="请输入产品名称或构件编号"
                            (keyup)="($event.which === 13)?searchData(true):0" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <span style="cursor: pointer" (click)="searchData(true)">搜索</span>
                    </ng-template>
                </ng-container>
            </div>
    </div>
    <div class="operate-right-box">

    </div>
</div>
<div class="content-box">
    <nz-table [acl]="938" [nzData]="data" [(nzPageIndex)]="listQuery.page" [(nzPageSize)]="listQuery.size" [nzTotal]="totalCount"
        (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData()" [nzFrontPagination]="false" [nzLoading]="listQuery.loading" nzShowQuickJumper
        nzShowSizeChanger nzShowTotal>
        <thead>
            <tr>
                <th>序号</th>
                <th>日期</th>
                <th>车牌号</th>
                <th>司机姓名</th>
                <th>司机电话</th>
                <th>出库办理人</th>
                <th>理论重量(kg)</th>
                <th>过磅重量(kg)</th>
                <th>差值</th>
                <th>差值率(%)</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.recordDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{ item.licensePlate }}</td>
                <td>{{ item.driverName }}</td>
                <td>{{ item.driverPhone }}</td>
                <td>{{ item.consigneeName }}</td>
                <td>{{ item.theoreticalWeight }}</td>
                <td>{{ item.actualWeight }}</td>
                <td [ngStyle]="{'color': item.difference > 0 ? 'red' : item.difference == 0 ? '' : 'green'}">
                    {{ (item.difference > 0 ? '+':'') + item.difference }}</td>
                <td [ngStyle]="{'color': item.difference > 0 ? 'red' : item.difference == 0 ? '' : 'green'}">
                    {{ item.differenceRate }}</td>
                <td class="action-box">
                    <span (click)="openDetailModal(item.id)">查看</span>
                    <span> / </span>
                    <span (click)="exportExcel(item.id)">下载</span>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <a (click)="monthExportExcel()" class="export-style">月度汇总下载</a>
</div>
<style scoped>
    .export-style {
        display: inline-block;
        margin: 20px 0 20px 20px;
        font-size: 16px;
    }
</style>
