<form nz-form  (ngSubmit)="submit()" #form="ngForm">
        <nz-form-item nz-row>
            <nz-form-control>
                <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="20">
                        <input nz-input 
                            [(ngModel)]="dto.phone"
                            name="phone"
                            [nzSize]="'default'"  
                            placeholder="请输入手机号" 
                            [id]="'phone'">
                        
                    </div>
                    <div nz-col [nzSpan]="4">
                        <span *ngIf="second" class="ant-btn ant-btn-lg" style="line-height: 32px">{{second}}秒</span>
                        <button nz-button [nzSize]="'default'" *ngIf="!second" (click)="send($event)">发送</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input nz-input
                    name="verifyCode"
                    [(ngModel)]="dto.verifyCode"
                    placeholder="请输入验证码"
                    [nzSize]="'default'"
                    required>
                    <!-- <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template> -->
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input nz-input
                        name="password"
                        [(ngModel)]="dto.password"
                        placeholder="请输入新密码"
                        [nzSize]="'default'"
                        required>
                    <!-- <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template> -->
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button
                nz-button
                [nzType]="'primary'"
                [nzLoading]="loading"
                [nzSize]="'default'"
                class="ant-btn__block"
                [disabled]="form.form.invalid">
                <span>确认</span>
            </button>
        </nz-form-item>
    </form>
    