<app-project-pro-header [projectId]="projectId"></app-project-pro-header>

<nz-card>
    <nz-tabset>
        <nz-tab nzTitle="{{ pm.monomer.name }}"
            *ngFor="let pm of pageMonomers">
            <nz-card
                [nzTitle]="'结构'">
                <nz-tabset>
                    <nz-tab nzTitle="{{ area.areaName }}"
                        *ngFor="let area of pm.areas">
                        <app-product-demand-plan-summary-table
                            [areaId]="area.id"></app-product-demand-plan-summary-table>
                    </nz-tab>
                </nz-tabset>
            </nz-card>
            <!--<nz-card
                [nzTitle]="'围护'">
                <app-product-demand-plan-summary-table
                    [areaId]="pm.monomer.id"
                    [productType]="types['围护']"></app-product-demand-plan-summary-table>
            </nz-card>-->
            <!--<nz-card
                [nzTitle]="'辅材'">
                <app-product-demand-plan-summary-table
                    [areaId]="pm.monomer.id"
                    [productType]="types['辅材']"></app-product-demand-plan-summary-table>
            </nz-card>-->
        </nz-tab>
    </nz-tabset>
</nz-card>