<div class="operate-box">
    <div class="operate-left-box">
        <nz-month-picker #input style="width: 100%" [(ngModel)]="date" (ngModelChange)="onChange($event)"
            [nzFormat]="'YYYY/MM'" name="date" nzSize="default"></nz-month-picker>
    </div>
    <div class="operate-right-box">
    </div>
</div>
<div class="content-box">
    <nz-card>
        <nz-table [acl]="1033" [nzData]="data" [nzShowPagination]="false" [nzLoading]="isSpinning" nzBordered>
            <thead>
                <tr>
                    <th><span>序号</span></th>
                    <th><span>制作班组</span></th>
                    <th><span>生产数量</span></th>
                    <th><span>生产重量(kg)</span></th>
                    <th><span>详情</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data;let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.isFinished?'涂装': '总装' }}{{ item.username }}</td>
                    <td>{{ item.productQuantity}}</td>
                    <td>{{ item.productWeight }}</td>
                    <td>
                        <span>
                            <a (click)="goDetail($event, item.userId, item.isFinished)">详情</a>&nbsp;
                            <a (click)="exportExcel(item.userId, item.isFinished)">下载</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
<nz-modal [nzVisible]="isVisible" [nzTitle]="'班组报表详情'" [nzContent]="modalContent" [nzWidth]="'700px'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-template #modalContent>
        <nz-table #nzTable style="height: 400px" [nzData]="detailExport" [nzShowPagination]="false" nzBordered>
            <thead>
                <tr>
                    <th><span>项目名称</span></th>
                    <th><span>生产日期</span></th>
                    <th><span>名称</span></th>
                    <th><span>编号</span></th>
                    <th><span>数量</span></th>
                    <th><span>重量(kg)</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of detailExport">
                    <td>{{ user.projectName }}</td>
                    <td>{{ user.statisticalDate | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ user.productName }}</td>
                    <td>{{ user.serialNo }}</td>
                    <td>{{ user.productQuantity }}</td>
                    <td>{{ user.productWeight }}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>
</nz-modal>
<style scoped>
</style>
