<form #form="ngForm" nz-form>
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-label for="roles" nzRequired>用户</nz-form-label>
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-select
                name="roles"
                placeholder="请选择"
                [(ngModel)]="user"
                nzSize="default"
                required>
                <nz-option
                    *ngFor="let u of users"
                    [nzLabel]="u.name"
                    [nzValue]="u">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div class="customize-footer">
        <button [disabled]="form.form.invalid" (click)="cancel()" nz-button [nzType]="'primary'">
            确定
        </button>
        <button nz-button [nzType]="'default'" (click)="cancel()">
            取消
        </button>
    </div>
</form>
